* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(222, 28, 28);
  --bg-url: url(./assets/2.png);
  --box-shadow: 0px 0px 12px rgb(255, 0, 0);
  --bo: 1px solid rgba(200, 30, 30, 0.694);
  --bacdob: rgba(208, 8, 48, 0.2);
  --hoube: rgba(237, 16, 27, 0.378);
  --swit: white url(./assets/sun.svg) no-repeat center;
  --rir: rgba(151, 34, 34, 0.694);
  --fff:0px 0px 0px 3px rgba(241, 3, 27, 0.475);

}
.lu {
  --text-color: rgb(49, 150, 226);
  --bg-url: url(./assets/HD-wallpaper-plain-gradient-blue-abstract-thumbnail.jpg);
  --box-shadow: 0px 0px 12px rgb(45, 105, 169);
  --bo: 1px solid rgba(81, 172, 241, 0.694);
  --bacdob: rgba(17, 35, 202, 0.2);
  --houve: rgba(65, 114, 230, 0.378);
  --swit: white url(./assets/moon-stars.svg) no-repeat center;
  --rir:rgba(52, 86, 163, 0.378);
   
}
body {
  backdrop-filter: brightness(1.4);
  transition: backdrop-filter 0.5s ease, background 0.5s ease;
}
body {
  background: var(--bg-url) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  transition: all 0.5s ease;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 10px auto 0px;
  padding: 0px 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 120px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
  margin: 4px auto;
}
#switch button{
  outline: 8px solid var(--rir) ;
}
#switch button {
  width: 32px;
  height: 32px;
  background: var(--swit);
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
 animation: slide-b 0.4s;
}
.lu #switch button {
  animation: slide-in 0.4s forwards;
 
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--bacdob);
  border: var(--bo);
  backdrop-filter: blur(4px);
  border-radius: 900px;
  margin: 4px auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  background: var(--bacdob);
  border: var(--bo);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
  box-shadow: var(--box-shadow);
}
ul li a:hover {
  background: var(--houve);
  border: 1.5px solid var(--text-color);
}

#icons {
  gap: 8px;
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  font-size: 24px;
}
#text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0px 0px 0px;
  font-size: 20px;
}
footer {
  text-align: center;
  padding: 8px 0px;
  font-size: 12px;
}
@keyframes slide-in {
  from {
    rigth: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-b{
 from{
  left: 50%;
 }
 to{
  left: 0%;
 }
}
