* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor_do_texto: rgb(231 229 228);
  --fundo_color:rgb(31 41 55);
 --cor_neon_box: 0px 0px 5px rgb(55 65 81);
  --borda_da_box: 1px solid rgba(156, 163, 175, 0.349) ;
  --funda_da_box: rgb(55 65 81);
 
  --swit: white url(./assets/sun.svg) no-repeat center;
  --botao_troca_mode: rgb(55 65 81);


}
.lu {
  --cor_do_texto: rgb(214 211 209);
  --fundo_color:rgb(136 19 55);
  --cor_neon_box: 0px 0px 12px ;
  --borda_da_box: 1px solid rgba(81, 172, 241, 0.694);
  --funda_da_box: rgba(17, 35, 202, 0.2);
  --funda_da_box: rgba(65, 114, 230, 0.378);
  --swit: white url(./assets/moon-stars.svg) no-repeat center;
  --botao_troca_mode:rgba(52, 86, 163, 0.378);
   
}


body {
 background-color:var(--fundo_color) ;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--cor_do_texto);
  transition: all 0.5s ease;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 10px auto 0px;
  padding: 0px 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 120px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
  margin: 4px auto;
}
#switch button{
  outline: 8px solid var(--botao_troca_mode) ;
}
#switch button {
  width: 32px;
  height: 32px;
  background: var(--swit);
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
 animation: slide-b 0.4s;
}
.lu #switch button {
  animation: slide-in 0.4s forwards;
 
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--funda_da_box);
  border: var(--borda_da_box);
  backdrop-filter: blur(4px);
  border-radius: 900px;
  margin: 4px auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  background: var(--funda_da_box);
  border: var(--borda_da_box);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
  box-shadow: var(--cor_neon_box);
}
ul li a:hover {
  background: var(--funda_da_box);
  border: 1.5px solid var(--cor_do_texto);
}

#icons {
  gap: 8px;
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  font-size: 24px;
}
#text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0px 0px 0px;
  font-size: 20px;
}
footer {
  text-align: center;
  padding: 8px 0px;
  font-size: 12px;
}
@keyframes slide-in {
  from {
    rigth: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-b{
 from{
  left: 50%;
 }
 to{
  left: 0%;
 }
}
